body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1f2833;
    color: #6ffff5;
}

img {
  max-width: 300px; 
  max-height: 300px;
  margin: 10px;
  border: black solid 2px;
}

.paper img {
    transform: rotate(-90deg);
}

button {
    margin: 10px;
    width: 350px;
    height: 350px;
    border: #66fcf1 solid 2px;
    background-color: #c5c6c7;
}

li {
    list-style-type: none;
    margin: 5px;
}

.footer {
    background-color: #0b0c10;
    color: #c5c6c7;
    display: flex;
    margin-top: auto;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #45a29e;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

.header {
    text-align: center;
    background-color: #1f2833;
    color: #66fcf1;
    font-size: 20px;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.reset-button,
.round-result {
    display: none;
}

.reset-button{
    margin: auto;
    font-size: 50px;
}